.about-me {
  width: calc(100vw - 60px);
  height: 100vh;
  position: absolute;
  background: #ffffff;
  z-index: 2;
  right: calc(100vw - 60px);
  overflow: scroll;
  font-family: 'Lato', sans-serif;
}

.about-me-container {
  padding-left: 60px;
}

.about-me-container > div {
  margin-top: 30px;
  font-size: 14px;
}

.about-me-container > div:first-child {
  color: #c4c4c4;
  margin-top: 30px
}

.am-header {
  display: flex;
  justify-content: flex-start;
  min-width: 420px;
}

.am-header-name {
  display: block;
  min-width: 200px;
  margin-right: 20px;
  padding-top: 10px;
}

.am-header-name > h1 {
  font-size: 75px;
  font-weight: bold;
}

.am-img-container > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.am-body {
  width: 60vw;
}

.am-body > p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #757575;
  line-height: 200%;
}

.am-shift-right {
  right: calc(95vw - 60px);
}

.am-shift-keep-right {
  left: calc(60px);
}

.am-misc {
  font-size: 16px;
  margin-bottom: 50px;
}

.am-misc > span {
  text-decoration: underline;
}
