.catalog {
  display: block;
  width: 20vw;
  min-width: 250px;
  height: 100vh;
  position: relative;
  z-index: 1;
  background: #5aa29b;
  color: gray;
  background-image: url('https://res.cloudinary.com/cloudlicious/image/upload/v1480120160/cheap_diagonal_fabric_iwwzxk.png');
  background-repeat: repeat-x repeat-y;
}

.catalog > ul {
  position: absolute;
  bottom: 0;
  left: 100px;
}

.catalog > ul > li {
  font-size: 36px;
  cursor: pointer;
  margin-bottom: 22px;
}

.catalog > ul > li:first-child {
  margin-bottom: 11px;
}

#projects-ul {
  width: auto;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 22px;
}

.catalog-shift-left {
  right: 20vw;
}

.enlarge {
  color: #364b71;
  animation: enlarge 0.5s forwards;
  -webkit-animation: enlarge 0.5s forwards;
  -moz-animation: enlarge 0.5s forwards;
  -ms-animation: enlarge 0.5s forwards;
  -o-animation: enlarge 0.5s forwards;
}

.enlarge-2 {
  color: #ff6600;
  animation: enlarge 0.5s forwards;
  -webkit-animation: enlarge 0.5s forwards;
  -moz-animation: enlarge 0.5s forwards;
  -ms-animation: enlarge 0.5s forwards;
  -o-animation: enlarge 0.5s forwards;
}

.catalog-panel-slider {
  animation: catalog-panel-slider 0.8s forwards;
  -webkit-animation: catalog-panel-slider 0.8s forwards;
  -moz-animation: catalog-panel-slider 0.8s forwards;
  -ms-animation: catalog-panel-slider 0.8s forwards;
  -o-animation: catalog-panel-slider 0.8s forwards;
}

@keyframes catalog-panel-slider {
  0% { transform: translateX(0%); }
  100% { transform: translateX(20vw); }
}

@-webkit-keyframes catalog-panel-slider {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(20vw); }
}

@-moz-keyframes catalog-panel-slider {
  0% { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(20vw); }
}
@-o-keyframes catalog-panel-slider {
  0% { -o-transform: translateX(0%); }
  100% { -o-transform: translateX(20vw); }
}

@keyframes enlarge {
  0% { transform: scaleX(1) scaleY(1); }
  100% { transform: scaleX(1.1) scaleY(1.1); }
}

@-webkit-keyframes enlarge {
  0% { -webkit-transform: scaleX(1) scaleY(1); }
  100% { -webkit-transform: scaleX(1.1) scaleY(1.1); }
}

@-moz-keyframes enlarge {
  0% { -moz-transform: scaleX(1) scaleY(1); }
  100% { -moz-transform: scaleX(1.1) scaleY(1.1); }
}
@-o-keyframes enlarge {
  0% { -o-transform: scaleX(1) scaleY(1); }
  100% { -o-transform: scaleX(1.1) scaleY(1.1); }
}
