.catalog {
  display: block;
  width: 25vw;
  min-width: 300px;
  height: 100vh;
  font-size: 30px;
  border-right: 1px solid #c4c4c4;
  position: relative;
  z-index: 1;
  background: #5aa29b;
  color: #666666;
  font-family: 'Fredericka the Great', cursive;
  background-image: url('https://res.cloudinary.com/cloudlicious/image/upload/v1479713915/graphy_a7sivk.png');
  background-repeat: repeat-x repeat-y;
}

.catalog > ul > li {
  margin-bottom: 25px;
}

.catalog > ul {
  position: absolute;
  bottom: 0;
  left: 85px;
}

.catalog-shift-left {
  right: 25vw;
}

.catalog-panel-slider {
  animation: catalog-panel-slider 0.8s forwards;
  -webkit-animation: catalog-panel-slider 0.8s forwards;
  -moz-animation: catalog-panel-slider 0.8s forwards;
  -ms-animation: catalog-panel-slider 0.8s forwards;
  -o-animation: catalog-panel-slider 0.8s forwards;
}

@keyframes catalog-panel-slider {
  0% { transform: translateX(0%); }
  100% { transform: translateX(25vw); }
}

@-webkit-keyframes catalog-panel-slider {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(25vw); }
}

@-moz-keyframes catalog-panel-slider {
  0% { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(25vw); }
}
@-o-keyframes catalog-panel-slider {
  0% { -o-transform: translateX(0%); }
  100% { -o-transform: translateX(25vw); }
}
