#rails {
  color: #a62c39;
}

#nodejs {
  color: #77af64;
}

#postgresql {
  color: #0094c5;
}

#react {
  color: #61dafb;
}

#js {
  color: #f7df1e;
}

#jquery {
  color: #0769ad;
}

#html5 {
  color: #f16529;
}

#css3 {
  color: #008fd5;
}

#appacademy {
  color: #ff0000;
}

#testsuite {
  color: #008000;
}

#debugger {
  color: #cc0000;
}
