.reading-panel {
  display: block;
  width: 75vw;
  min-width: 500px;
  height: 100vh;
  position: relative;
}

.scroll-container {
  display: block;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-page {
  display: block;
  min-height: 100vh;
  border-top: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rp-shift-right {
  right: 75vw;
}

.display-none {
  display: none;
}

.reading-panel-slider {
  // transform: translateX(50px);
  // -webkit-transform: translateX(50px);
  animation: reading-panel-slider 0.1s forwards linear;
  -webkit-animation: reading-panel-slider 0.1s forwards linear;
  -moz-animation: reading-panel-slider 0.1s forwards linear;
  -ms-animation: reading-panel-slider 0.1s forwards linear;
  -o-animation: reading-panel-slider 0.1s forwards linear;
}

@keyframes reading-panel-slider {
  0% { transform: translateX(0%); }
  100% { transform: translateX(75vw); }
}

@-webkit-keyframes reading-panel-slider {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(75vw); }
}

@-moz-keyframes reading-panel-slider {
  0% { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(75vw); }
}
@-o-keyframes reading-panel-slider {
  0% { -o-transform: translateX(0%); }
  100% { -o-transform: translateX(75vw); }
}
