.reading-panel {
  display: block;
  width: 80vw;
  min-width: 500px;
  height: 100vh;
  position: relative;
  background: #ffffff;
  color: #757575;
  font-family: 'Lato', sans-serif;
}

.scroll-container {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-page {
  display: block;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rp-shift-left {
  right: 80vw;
}

.rp-shift-left-1 {
  right: 75vw;
}
