.reading-panel {
  display: block;
  width: 75vw;
  min-width: 500px;
  height: 100vh;
  position: relative;
  background: #ffffff;
  color: #757575;
  font-family: 'Lato', sans-serif;
}

.scroll-container {
  display: block;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-page {
  display: block;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-page:first-child {
  border: none;
}

.rp-shift-left {
  right: 75vw;
}

.rp-shift-left-1 {
  right: 70vw;
}

.reading-panel-slider {
  animation: reading-panel-slider 0.3s forwards ease-in-out;
  -webkit-animation: reading-panel-slider 0.3s forwards ease-in-out;
  -moz-animation: reading-panel-slider 0.3s forwards ease-in-out;
  -ms-animation: reading-panel-slider 0.3s forwards ease-in-out;
  -o-animation: reading-panel-slider 0.3s forwards ease-in-out;
}

@keyframes reading-panel-slider {
  0% { transform: translateX(0%); }
  100% { transform: translateX(70vw); }
}

@-webkit-keyframes reading-panel-slider {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(70vw); }
}

@-moz-keyframes reading-panel-slider {
  0% { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(70vw); }
}
@-o-keyframes reading-panel-slider {
  0% { -o-transform: translateX(0%); }
  100% { -o-transform: translateX(70vw); }
}

.slider-1 {
  animation: slider-1 0.4s forwards linear;
  -webkit-animation: slider-1 0.4s forwards linear;
  -moz-animation: slider-1 0.4s forwards linear;
  -ms-animation: slider-1 0.4s forwards linear;
  -o-animation: slider-1 0.4s forwards linear;
}

@keyframes slider-1 {
  0% { transform: translateX(0%); }
  100% { transform: translateX(5vw); }
}

@-webkit-keyframes slider-1 {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(5vw); }
}

@-moz-keyframes slider-1 {
  0% { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(5vw); }
}
@-o-keyframes slider-1 {
  0% { -o-transform: translateX(0%); }
  100% { -o-transform: translateX(5vw); }
}
