.side-panel {
  background: #f6f6f6;
  border-bottom: 1px solid #c4c4c4;
  width: 100vh;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  z-index: 2;
}

.side-panel-top {
  display: block;
  margin-right: 25px;
}

.side-panel-bottom {
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
}

.side-panel-bottom > div:first-child {
  margin-right: 25px;
}

.side-panel-slider {
  // transform: translateX(50px);
  // -webkit-transform: translateX(50px);
  animation: side-panel-slider 1s forwards;
  -webkit-animation: side-panel-slider 1s forwards;
}

@keyframes side-panel-slider {
  0% { transform: translateX(0%) rotate(-90deg); }
  100% { transform: translateX(60px) rotate(-90deg); }
}

@-webkit-keyframes side-panel-slider {
  0% { -webkit-transform: translateX(0%) rotate(-90deg); }
  100% { -webkit-transform: translateX(60px) rotate(-90deg); }
}
