.side-panel {
  background: #ffffff;
  border-bottom: 1px solid #c4c4c4;
  width: 100vh;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  z-index: 3;
  overflow: hidden;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

.side-panel-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
  min-width: 58px;
}

.side-panel-bottom {
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
  min-width: 223px;
}

.side-panel-bottom > div:nth-child(2) {
  margin-left: 56px;
}

.side-panel-links {
  display: flex;
  justify-content: flex-end;
  padding: 5px 18px 0 0;
  margin-left: 20px;
}

.github-background {
  margin-right: 15px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.github-background:hover {
  background: #ffa823;
  transition: 0.3s ease-in;
}

.github-background > a > img {
  height: 20px;
  weight: 20px;
}

.linkedin-background {
  border-radius: 20%;
  height: 20px;
  width: 20px;
}

.linkedin-background:hover {
  background: #3c948b;
  transition: 0.3s ease-in;
}

.linkedin-background > a > img{
  height: 20px;
  weight: 20px;
}
