.side-panel {
  background: #f6f6f6;
  border-bottom: 1px solid #c4c4c4;
  width: 100vh;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  z-index: 3;
  overflow: hidden;
}

.side-panel-top {
  display: block;
  margin-right: 25px;
}

.side-panel-bottom {
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
}

.side-panel-bottom > div:nth-child(2) {
  margin-left: 56px;
}

.side-panel-slider {
  animation: side-panel-slider 0.3s forwards ease-out;
  -webkit-animation: side-panel-slider 0.3s forwards ease-out;
  -moz-animation: side-panel-slider 0.3s forwards ease-out;
  -ms-animation: side-panel-slider 0.3s forwards ease-out;
  -o-animation: side-panel-slider 0.3s forwards ease-out;
}

@keyframes side-panel-slider {
  0% { transform: translateX(0%) rotate(-90deg); }
  100% { transform: translateX(60px) rotate(-90deg); }
}

@-webkit-keyframes side-panel-slider {
  0% { -webkit-transform: translateX(0%) rotate(-90deg); }
  100% { -webkit-transform: translateX(60px) rotate(-90deg); }
}

@-moz-keyframes side-panel-slider {
  0% { -moz-transform: translateX(0%) rotate(-90deg); }
  100% { -moz-transform: translateX(60px) rotate(-90deg); }
}
@-o-keyframes side-panel-slider {
  0% { -o-transform: translateX(0%) rotate(-90deg); }
  100% { -o-transform: translateX(60px) rotate(-90deg); }
}
