.assets {
  display: block;
}

.assets > div {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.assets > div:last-child {
  margin-bottom: 0;
}

#icon {
  margin-right: 5vh;
}

#icon:last-child {
  margin-right: 0;
}

#icon > img {
  width: auto;
  height: 75px;
}
