.assets {
  display: block;
}

.assets > div {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.assets > div:last-child {
  margin-bottom: 0;
}

#icon {
  margin-right: 5vh;
  position: relative;
}

#icon:last-child {
  margin-right: 0;
}

#icon > img {
  width: auto;
  height: 75px;
}

#icon:hover h3 {
  opacity: 1;
  transition: opacity 0.3s;
}

#icon > h3 {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -20px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}
