#contact {
  background-image: url('https://res.cloudinary.com/cloudlicious/image/upload/v1479713915/congruent_pentagon_qbw1md.png');
  background-repeat: repeat-x repeat-y;
}

.contact-inner {
  display: block;
  width: 400px;
  margin: auto;
}

.contact-inner > div {
  display: block;
  width: 400px;
}

.contact-text {
  margin-bottom: 20px;
}

.contact-text > h1 {
  font-size: 36px;
}

.contact-text > p {
  font-size: 20px;
}

.contact-input > input {
  width: 400px;
  border-bottom: 3px solid green;
  margin-bottom: 20px;
  margin-top: 2px;
  transition: border-bottom 0.2s ease-in;
}

.contact-input > textarea {
  width: 400px;
  max-width: 400px;
  height: 100px;
  border-bottom: 3px solid green;
  transition: border-bottom 0.2s ease-in;
}

.contact-input > input:focus, .contact-input > textarea:focus {
  border-bottom: 3px solid red;
  transition: 0.2s ease-in;
}
