#contact {
  background-image: url('https://res.cloudinary.com/cloudlicious/image/upload/v1479713915/congruent_pentagon_qbw1md.png');
  background-repeat: repeat-x repeat-y;
}

.contact-inner {
  display: block;
}

.contact-inner > div {
  display: block;
  margin: auto;
  width: 300px;
}

.contact-input {
  display: block;
}

.contact-inner > div > input {
  width: 300px;
  background: #ffffff;
  border-bottom: 3px solid green;
  margin-bottom: 20px;
}

.contact-inner > div:last-child > textarea {
  background: #ffffff;
  width: 300px;
  max-width: 300px;
  height: 150px;
  border-bottom: 3px solid green;
}

#contact-name {

}

#contact-email {

}

#contact-message {

}
