.quotes {
  overflow: hidden;
  height: 200vh;
}

.quotes > img {
  width: auto;
  height: 100vh;
  position: relative;
}

.text {
  width: auto;
  height: 100vh;
  font-size: 19px;
  padding: 0 8vw;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
}

.text > div > div:last-child {
  height: 15vh;
  text-align: right;
  padding-top: 35vh;
}

.text > div > div {
  line-height: 150%;
}

#quotation-mark {
  font-size: 30px;
  color: black;
  font-family: 'Anton', sans-serif !important;
}

.quote-line {
  display: flex;
  justify-content: space-between;
}
