.quotes {
  overflow: hidden;
  height: 200vh;
  width: auto;
  position: relative;
}

.quotes > img {
  width: auto;
  height: 100vh;
  min-height: 611px;
  min-width: 977px;
  position: relative;
}

.quotes-img-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  min-height: 611px;
  min-width: 977px;
  display: flex;
  align-items: center;
  z-index: 1;
  color: #ffffff;
}

.quotes-img-text > div {
  width: 100%;
  padding: 0 75px;
  display: flex;
  justify-content: space-between;
}

.quotes-img-text > div > p {
  font-size: 18px;
  width: 252px;
}

.view-portfolio {
  display: flex;
  align-items: center;
}

.view-portfolio > div {
  text-align: right;
  width: 63px;
  font-size: 16px;
  margin-right: 10px;
}

.view-portfolio > img {
  width: 15px;
  height: auto;
}

.view-portfolio > div:hover, .view-portfolio > img:hover {
  cursor: pointer;
}

.text {
  width: 64vw;
  height: 100vh;
  min-height: 611px;
  min-width: 977px;
  margin: auto;
  font-size: 19px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text > div {
  width: 900px;
  margin: auto;
}

.text > div > div:last-child {
  text-align: right;
  position: absolute;
  bottom: 100px;
  right: 50px;
}

.text > div > div {
  line-height: 150%;
}

#quotation-mark {
  font-size: 30px;
  color: black;
  font-family: 'Anton', sans-serif !important;
}

.quote-line {
  display: flex;
  justify-content: space-between;
}
