.projects {
  width: 80vw;
  display: block;
  background-image: url('https://res.cloudinary.com/cloudlicious/image/upload/v1480119316/gridme_xrpbxt.png');
  background-repeat: repeat-x repeat-y;
  border-bottom: 1px solid #e9e9e8;
}

.filler-container {
  width: 80vw;
  height: 150px;
}

.single-project-container {
  margin: auto;
  width: 80vw;
}

.single-project-container:first-child {
  margin-top: 25vh;
}

.single-project-container:last-child {
  margin-bottom: 25vh;
}

.single-project {
  display: block;
  border: 5px solid #122246;
  border-radius: 5px;
  width: 700px;
  height: 300px;
  position: relative;
  margin: auto;
}

.single-project.odd, .project-description-2.odd {
  right: 4vw;
}

.single-project.even, .project-description-2.even {
  left: 4vw;
}

.single-project > span {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(0,0,0,.5);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.single-project:hover span {
  opacity: 0.5;
}

.single-project:hover > div > h1, .single-project:hover .project-github > a > img, .single-project:hover .project-live > a > img {
  opacity: 1;
}

#eatsy {
  background-image: url('https://res.cloudinary.com/cloudlicious/image/upload/v1479766211/eatsy_zincdm.png');
  background-size: 100% auto;
}

#sssf {
  background-image: url('https://res.cloudinary.com/cloudlicious/image/upload/v1479766211/chrome_tmnych.png');
  background-size: 100% auto;
}

#endless {
  background-image: url('https://res.cloudinary.com/cloudlicious/image/upload/v1479767882/endlessrunner_yd3qqu.png');
  background-size: 100% auto;
}

.project-description {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.project-description > h1 {
  position: absolute;
  bottom: 0;
  left: 20px;
  font-size: 70px;
  font-weight: bold;
  opacity: 0;
  color: #122246;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.project-description.eatsy > h1 {
  font-size: 120px;
}

.project-links {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 300px;
}

.project-links > div > div {
  margin: 30px 30px 30px 0;
}

.project-github > a > img, .project-live > a > img {
  width: 100px;
  height: 100px;
  opacity: 0;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.project-live > a > img {
  border-radius: 10%;
}


.project-description-2 {
  display: block;
  width: 700px;
  position: relative;
  margin: auto;
}

#description-sub {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: auto;
  margin-top: 50px;
}

#description-sub-1, #description-sub-2 {
  width: 300px;
  display: flex;
  justify-content: center;
}

#description-sub-1 > div {
  width: 250px;
}

#omakase-div, #rating-div, #maps-div, #cleaning-div, #heroku-div {
  display: flex;
  align-items: center;
}

#rating-star-symbol {
  font-size: 40px;
}

#omakase-div > img, #maps-div > img, #heroku-div > img {
  width: 100px;
  height: auto;
}

#cleaning-div > img {
  width: 300px;
  height: auto;
}

#omakase-div > img:hover {
  opacity: 0.5;
  transition: 0.3s;
}

#maps-div > img:hover, #heroku-div > img:hover {
  animation: enlarge 0.3s forwards;
  -webkit-animation: enlarge 0.3s forwards;
  -moz-animation: enlarge 0.3s forwards;
  -ms-animation: enlarge 0.3s forwards;
  -o-animation: enlarge 0.3s forwards;
}

#chrome-notifications-div {
  width: 325px;
}
